@import "../settings/website_variables";

.rotate180{ transform: rotate(180deg); }
.text-center{text-align: center !important;}
.text-light {font-weight:300 !important;}
.text-semibold {font-weight:600 !important;}
.text-bold {font-weight:700 !important;}
.text-italic {font-style: italic;}
.text-white{color: #EAEAEA !important;}
.hide {display: none !important;}
.show {display: flex;}



.primaryBtn {
	font: var(--primary-btn-btn-font);
	border-radius: 80px !important;
}
.primaryBtn-vr1 {
	color:  var(--alternative-black);
	background-color: var(--black-dahlia-white);
	font: var(--primary-btn-btn-font);
	border-radius: 80px !important;
}
.secondaryBtn {
	background-color: var(--primary-color);
	border: 1px solid #fff;
	border-radius: var(--border-radius-cards);
	color: #fff;
	font: var(--primary-btn-btn-font);
	max-height: fit-content;
	padding: 20px 100px;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}

/* SCROLLBAR SETTINGS*/

::-webkit-scrollbar {
	width: 10px !important;
}
::-webkit-scrollbar-track {
	background-color: #2f2f30;
	border-radius: 0px;
}
::-webkit-scrollbar-thumb {
	border: 1px solid #EEECE9;
	background: linear-gradient(
		180deg,
		#c1c2c0 0%,
		#e91e62e4 100%,
	);
	border-radius: 0px;
}

/* FOOTER */

footer { background-color: var(--primary-color); }