@import "../settings/website_variables";

.rotate180{ transform: rotate(180deg); }
.text-center{text-align: center !important;}
.text-light {font-weight:300 !important;}
.text-semibold {font-weight:600 !important;}
.text-bold {font-weight:700 !important;}
.text-italic {font-style: italic;}
.text-white{color: #EAEAEA !important;}
.hide {display: none !important;}
.show {display: flex;}

.primaryBtn {
	background-color: var(--alternative-black);
	border: 1px solid var(--black-dahlia-white);
	border-radius: 63px;
	color: var(--black-dahlia-white) ;
	font: var(--page-paragraphText-font);
	max-height: fit-content;
	padding: 18px 56px;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}
.primaryBtn-vr1 {
	background-color: var(--black-dahlia-white);
	border: 1px solid var(--alternative-black);
	border-radius: 63px;
	color:  var(--alternative-black);
	font: var(--page-paragraphText-font);
	max-height: fit-content;
	padding: 18px 56px;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}
.secondaryBtn {
	background-color: var(--primary-color);
	border: 1px solid #fff;
	border-radius: var(--border-radius-cards);
	color: #fff;
	font: var(--page-paragraphText-font);
	max-height: fit-content;
	padding: 20px 100px;
	text-align: center;
	text-decoration: none;
	width: fit-content;
}


/* SCROLLBAR SETTINGS*/

::-webkit-scrollbar {
	width: 8px !important;
}
::-webkit-scrollbar-track {
	background-color: #E3D7C84D;
	border-radius: 20px;
}
::-webkit-scrollbar-thumb {
	background-color: #000000b1;
	border-radius: 3px;
}

/* FOOTER */

footer { background-color: var(--primary-color); }