#ContactPage {
    align-items: center;
    background-color: var(--alternative-black);
    color: var(--black-dahlia-white);
    display: flex;
    flex-direction: column;
    justify-content: center;
    .page_paragraphTitle-vr { width: fit-content; }

    #contactForm {
        background-color: #A2A1A116;
        border-radius: var(--border-radius-cards);
        gap: 25px;
        max-width: 900px;
        padding: 32px 55px;
        width: 100%;
        .field {height: 125px;}
        .oneRow {gap: 45px;}
        .inputText {
            background-color: #171718;
            border: 0px;
            border-radius: 0px;
            color: var(--black-dahlia-white);
            padding: 25px;
            font: var(--page-paragraphText-font);
            &:focus-visible{
                outline-color: #34151D !important;
                outline-width: 1px;
            }
            option { background-color: #171718; }
        }
        .errorTextDiv {line-height: 20px !important;}
        .dropdown {
            width: 100% !important;
            .dropdown__label, .dropdown__button-text {
                font: var(--page-paragraphText-font);
            }
            .dropdown__button  {
                width: 100%;
            }
            .dropdown__list {
                background: var(--alternative-black);
                color: var(--black-dahlia-white);
                border-radius: 0px;
                border: 0px solid #ccc;
                font: var(--page-paragraphText-font);
                padding: 6px;
                .dropdown__option {
                    color: var(--black-dahlia-white);
                    cursor: pointer;
                    padding: 6px;
                }
                .dropdown__option:hover:not(.dropdown__option--active) {
                    background-color: var(--black-dahlia-white);
                    color: var(--alternative-black);
                }
                .dropdown__option--active { background: #34151d; }
                .dropdown__option--selected { font-weight: 600; }
            }
        }
    }
    .messageSent {
        opacity: 0;
        transition: opacity 0.4s ease-in-out;
        &.show { opacity: 1; }
    }
    .inputError { border-color: #ff4b4b;  }
    .errorText { color: #ff4b4b; }
}