#HomePage {
    background-color: var(--alternative-black);
    color: #fff;
    padding: 0px !important;
    
    #land-intro {
        height: calc(100dvh - 105px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1:nth-child(1) { margin-top: 100px !important; }
        
        p {
            font-weight: 100;
            max-width: 930px;
            text-align: center;
        }
        .buttonsHero {
            --button-shift: 50px;
            .buttonScr {
                width: 400px;
            }
        }
    }
    #offer {
        align-items: center;
        background-color: var(--alternative-black);
        color: var(--white-text);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        
        overflow: visible;
        padding: 0px 0px 85px;

        .primaryBtn {
            width: 260px;
        }
        .page_sub-headers {color: var(--black-dahlia-white);}
        #offer-cards-wrapper {
            gap: 85px;
            justify-content: center;
            padding: 70px 100px;
            .offer-cards {
                aspect-ratio: 1/1;
                align-items: center;
                // background-color: var(--black-dahlia-white);
                border-radius: 50%;
                border: 1px solid var(--black-dahlia-white);
                color: var(--black-dahlia-white);
                display: flex;
                font-weight: 300;
                justify-content: center;
                width: 224px;
                p {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }
    }
    #transition-img {
        height: 100dvh;
        max-width: 100%;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    #why-black-dahlia {
        background-color: var(--secondary-color);
        padding: 85px 100px;
        position: relative;
        width: 100%;
        .page_sub-headers {
            color: var(--alternative-black);
            text-align: center;
        }
        #textBoxWrapper {
            background-color: #E1D8CE;
            border-radius: var(--border-radius-cards);
            color: var(--alternative-black);
            display: flex;
            flex-direction: column;
            flex: auto;
            margin-top: 80px;
            overflow-x: hidden;
            overflow-y: visible;
            padding: 35px 26px 45px;
            width: 100%;
            #intro {
                column-gap: 80px;
                text-transform: uppercase;
            }
            a {
                bottom: 55px;
                position: absolute;
                right: 15%;
                width: 315px;
            }
        }
    }
    #spinningItersection {
        background-color: var(--alternative-black);
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        position: relative;
        .RollingDahlia {
            background-color: var(--black-dahlia-white);
            border-radius: 50%;
            padding: 25px;
            .RollingDahlia__content {
                img {
                    width: 385px;
                    height: 389px;
                }
            }
        } 
        #staticImg {
            bottom: calc(50% - 138px);
            position: absolute;
        }
    }
    #mugHoodie {
        background-color: var(--secondary-color);
        display: flex;
        height: 930px;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        overflow: hidden;
        #mugHoodieIters {
            margin-top: 50px;
            overflow: visible;
            position: absolute;
            #vecWrapper {
                display: flex;
                flex-direction: column;
            }
            .vector {
                height: 230px;
                transform: translateY(0);
                width: 100vw;
                &#vect2 { transform: translateY(-50%);}
                &#vect3 {
                    transform: translateY(-100%);
                    z-index: 2;
                }
                &#vect4 { transform: translateY(-150%); }
                * {
                    stroke-width: 0px;
                    stroke: var(--alternative-black);
                    fill: var(--alternative-black);
                }
            }
            &.is-active {
                /* you can also add a subtle vertical bob/scale on the whole group if you like */
                #vect2 { animation: vect2Move 5s ease-in-out infinite;}
                #vect3 { animation: vect3Move 5s ease-in-out infinite;}
                #vect4 { animation: vect4Move 5s ease-in-out infinite;}
                /* all strokes pulse together */
                .vector * { animation: strokePulse 5s ease-in-out infinite;}
            }
        }

        #middlePicWrapper {
            align-items: center;
            column-gap: 150px;
            display: flex;
            justify-content: center;
            margin-top: 5dvh;
            img {
                height: 100%;
                z-index: 4;
                &#picRight { height: 90dvh;}
                &#picLeft { height: 80dvh;}
            }
        }
    }

    @keyframes vect2Move {
        0%, 100% { transform: translateY(-50%); }
        40% { transform: translateY(-57%); }
    }
    @keyframes vect3Move {
        0%, 100% {  transform: translateY(-100%); }
        40% {  transform: translateY(-114%); }
    }
    @keyframes vect4Move {
        0%, 100% { transform: translateY(-150%); }
        40% { transform: translateY(-171%); }
    }
    @keyframes strokePulse {
        0%, 100% { stroke-width: 0px; }
        40% { stroke-width: 20px; }
    }

    #plannersInt {
        background-color: var(--primary-color);
        position: relative;
        max-width: 100%;
        overflow-x: hidden;
        img {  min-width: 0px; }
        .textPlanners {
           font: var(--page-secHeaders-font-vr); 
           font-style: normal;
           position: absolute;
            &#top {
                top: 100px;
                left: 180px;
            }
            &#bottom { bottom: 20px; }
        }
    }
    #organizedInt {
        background-color: var(--secondary-color);
        max-width: 100%;
        overflow-x: hidden;
        padding-bottom: 75px;
        #animatedOrg {
            position: relative;
            img {
                max-width: 1000px;
                min-width: 0px;
            }
            #rollingDahliaTextWrap{
                bottom: 0px;
                left: 840px;
                position: absolute;
                .textOrg {
                    color: var(--alternative-black);
                    font: var(--page-subHeaders-font);
                    max-width: 317px;
                    margin: 0px;
                    text-align: center;
                    z-index: 3;
                }
                #orgRollDahlia{
                    bottom: -150px;
                    left: -80px;
                    position: absolute;
                    transform: translateX(500px) translateY(300px) rotate(0deg);
                    transition: all 2s ease-in-out;
                    &.is-active {
                        transform: translateX(0px) translateY(0px) rotate(360deg);
                    }
                }
            }
        }
        #bookNowOrg {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-left: 15%;
            padding-top: 120px;
            padding-bottom: 70px;
            width: fit-content;
            p {font: var(--page-paragraphTitle-font);}
            a { width: 390px; }
        }
        .linearTextAnimat {
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            .linearTextAnimat__inner {
                animation: scroll 15s linear infinite;
                color: var(--alternative-black);
                display: inline-block;
                font: var(--page-secHeaders-font-vr);
                white-space: nowrap;
                span {
                    display: inline-block;
                    padding-right: 10px;
                }
            }
        }
        /* Animation */
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-40%); }
        }
    }
}
@media screen and (max-width: 900px) {
    #HomePage {
        overflow-x: hidden;
        #land-intro {
            align-items: start;
            min-height: calc(100dvh);
            justify-content: center;
            padding: 0px 20px;
            h1:nth-child(1) { margin-top: 0px !important; }
            
            .buttonsHero {
                --button-shift: 50px;
                margin-top: 0px !important;
                row-gap: 20px;
                .buttonScr { width: 70%; }
                .primaryBtn-vr1 {margin-left: 0px !important;}
            }
            .textContainerIntro {
                margin-top: 20px !important;
                margin-bottom: 20px !important;
                .page_sub-headers{
                    text-align: center !important;
                    width: 100%;
                    line-height: 150%;
                }
                .page_paragraphText {
                    margin-top: 20px !important;
                    margin-bottom: 0px !important;
                    font-size: 15px !important;
                    line-height: 200%;
                    text-align: center !important; 
                }
            }
            .IntroSmScreen {
                width: 100%;
                height: fit-content;
                display: flex ;
                flex-direction: column;
                justify-content: center;
                align-items: center;
                &.top{
                    .dahliaSmScreen {
                        height: 72px;
                    }
                }
                .whiteLogo {
                    height: 30px;
                }
            }
        }  
        #land-animation {
            padding: 0px 0px !important;
            margin-top: 0px !important;
            margin-bottom: 0px !important;
            .translateDahlia  {
                // padding: 10px;
                gap: 10px !important;
                div {width: 20%;}
                img {
                    width: 100%;
                }
            }
        }
        #offer {
           
            padding: 0px 10px 50px;
            #offer-cards-wrapper {
                gap: 20px;
                padding: 0px 10px !important;
                .offer-cards {
                    width: 85px;
                    line-height: 20px;
                    padding: 15px;
                    p {
                        word-wrap: break-word;
                        font-size: 11px;
                        margin: 0px;
                    }
                }
            }
        }
        #transition-img {
            height: fit-content;
            padding: 50px 0px;
        }
        #why-black-dahlia {
            height: fit-content;
            padding: 50px 0px;
            #textBoxWrapper {
                border-radius: 0px;
                margin-top: 50px;
                padding: 35px 26px 65px;
                #intro {
                    flex-direction: column-reverse;
                    .rollingDahlia {
                        gap: 0px !important;
                        div {
                            width: 25%;
                            img {width: 100%;}
                        }
                    }
                }
                a {
                    bottom: 65px;
                    right: 7.5% !important;
                }
            }
        }
        #spinningItersection {
            padding: 50px 10px;
            .RollingDahlia  {
                height: calc(100vw - 20px);
                width: calc(100vw - 20px);
                display: flex;
                justify-content: center;
                align-items: center;
                .RollingDahlia__content {
                    width: calc(93vw - 10px);
                    height: calc(93vw - 10px);
                    img {
                        width: calc(93vw - 10px);
                        height: calc(93vw - 10px);
                    }
                }
            }
        }
        #mugHoodie {
            padding: 50px 10px;
            height: fit-content;
            #middlePicWrapper {
                flex-direction: column-reverse;
                column-gap: 0px;
                row-gap: 50px;
            }
        }
        #plannersInt {
            padding: 50px 10px;
            min-height: fit-content;
            max-width: 100vw;
            .textPlanners {
                width: 100%;
                position: relative !important;
                text-align: center;
                &#top {
                    top: 0px !important;
                    left: 0px !important;
                }
            }
            img {
                object-fit: contain;
                max-width: 120vw;
            }
        }
        #organizedInt {
            padding: 0px 0px 50px 0px;
            min-height: fit-content;
            max-width: 100vw;
            overflow: hidden;
            #animatedOrg {
                width: 100%;
                position: relative !important;
                text-align: center;
                display: flex;
                flex-direction: column;
                img {
                    object-fit: contain;
                    max-width: 100vw;
                }
                #rollingDahliaTextWrap {
                    position: relative;
                    left: 0px;
                    width: 100%;
                    height: 380px;
                    text-align: center;
                    justify-content: center;
                    align-items: center;
                    .textOrg {
                        position: absolute;
                        top: calc(50% - 40px);
                    }
                    #orgRollDahlia {
                        position: absolute;
                        left: 0px;
                        bottom: 0px;
                        &:not(.is-active) {
                            transform: translateX(260px) translateY(300px) rotate(0deg)
                        }
                    }
                }
            }
            #bookNowOrg {
                align-items: center;
                display: flex;
                flex-direction: column;
                margin-left: 0%;
                padding-top: 0px;
                padding-bottom: 0px;
                width: fit-content;
                p {
                    text-align: center;
                }
                a {
                    width: calc(100% - 40px);
                    margin-bottom: 50px;
                }
            }
        }
    }
}