#HomePage {
    background-color: var(--alternative-black);
    color: #fff;
    padding: 0px !important;
    
    #land-intro {
        height: calc(100dvh - 105px);
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        h1:nth-child(1) { margin-top: 100px !important; }
        
        p {
            font-weight: 100;
            max-width: 930px;
            text-align: center;
        }
        .buttonsHero {
            --button-shift: 50px;
            .buttonScr {
                width: 400px;
            }
        }
    }
    #offer {
        align-items: center;
        background: linear-gradient(
            to bottom,
            var(--alternative-black) 0%,
            var(--alternative-black) 65%,
            var(--secondary-color) 65%,
            var(--secondary-color) 100%
        );
        color: var(--white-text);
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: visible;
        padding: 85px 0px;

        .primaryBtn {
            width: 350px;
        }
        #offer-cards-wrapper {
            gap: 85px;
            justify-content: center;
            padding: 70px 100px;
            .offer-cards {
                aspect-ratio: 1/1;
                align-items: center;
                background-color: var(--black-dahlia-white);
                border-radius: var(--border-radius-cards);
                color: #000;
                display: flex;
                font-weight: 300;
                justify-content: center;
                width: 224px;
                p {
                    font-size: 40px;
                    text-align: center;
                }
            }
        }
    }
    #transition-img {
        height: 100dvh;
        max-width: 100%;
        img {
            height: 100%;
            object-fit: cover;
            width: 100%;
        }
    }
    #why-black-dahlia {
        background-color: var(--secondary-color);
        padding: 85px 100px;
        position: relative;
        width: 100%;
        .page_sub-headers {
            color: var(--alternative-black);
            text-align: center;
        }
        #textBoxWrapper {
            background-color: #E1D8CE;
            border-radius: var(--border-radius-cards);
            color: var(--alternative-black);
            display: flex;
            flex-direction: column;
            flex: auto;
            margin-top: 80px;
            overflow-x: hidden;
            overflow-y: visible;
            padding: 35px 26px 45px;
            width: 100%;
            #intro {
                column-gap: 80px;
                text-transform: uppercase;
            }
            a {
                bottom: 55px;
                position: absolute;
                right: 15%;
                width: 315px;
            }
        }
    }
    #spinningItersection {
        background-color: var(--alternative-black);
        display: flex;
        justify-content: center;
        padding: 100px 0px;
        position: relative;
        .RollingDahlia {
            background-color: var(--black-dahlia-white);
            border-radius: 50%;
            padding: 25px;
            .RollingDahlia__content {
                img {
                    width: 385px;
                    height: 389px;
                }
            }
        } 
        #staticImg {
            bottom: calc(50% - 138px);
            position: absolute;
        }
    }
    #mugHoodie {
        background-color: var(--secondary-color);
        display: flex;
        height: 930px;
        padding-top: 150px;
        padding-bottom: 150px;
        position: relative;
        overflow: hidden;
        #mugHoodieIters {
            margin-top: 50px;
            overflow: visible;
            position: absolute;
            #vecWrapper {
                display: flex;
                flex-direction: column;
            }
            .vector {
                height: 230px;
                transform: translateY(0);
                width: 100vw;
                &#vect2 { transform: translateY(-50%);}
                &#vect3 {
                    transform: translateY(-100%);
                    z-index: 2;
                }
                &#vect4 { transform: translateY(-150%); }
                * {
                    stroke-width: 0px;
                    stroke: var(--alternative-black);
                    fill: var(--alternative-black);
                }
            }
            &.is-active {
                /* you can also add a subtle vertical bob/scale on the whole group if you like */
                #vect2 { animation: vect2Move 5s ease-in-out infinite;}
                #vect3 { animation: vect3Move 5s ease-in-out infinite;}
                #vect4 { animation: vect4Move 5s ease-in-out infinite;}
                /* all strokes pulse together */
                .vector * { animation: strokePulse 5s ease-in-out infinite;}
            }
        }

        #middlePicWrapper {
            align-items: center;
            column-gap: 150px;
            display: flex;
            justify-content: center;
            margin-top: 5dvh;
            img {
                height: 100%;
                z-index: 4;
                &#picRight { height: 90dvh;}
                &#picLeft { height: 80dvh;}
            }
        }
    }

    @keyframes vect2Move {
        0%, 100% { transform: translateY(-50%); }
        40% { transform: translateY(-57%); }
    }
    @keyframes vect3Move {
        0%, 100% {  transform: translateY(-100%); }
        40% {  transform: translateY(-114%); }
    }
    @keyframes vect4Move {
        0%, 100% { transform: translateY(-150%); }
        40% { transform: translateY(-171%); }
    }
    @keyframes strokePulse {
        0%, 100% { stroke-width: 0px; }
        40% { stroke-width: 20px; }
    }

    #plannersInt {
        background-color: var(--primary-color);
        position: relative;
        max-width: 100%;
        overflow-x: hidden;
        img {  min-width: 0px; }
        .textPlanners {
           font: var(--page-secHeaders-font-vr); 
           font-style: normal;
           position: absolute;
            &#top {
                top: 100px;
                left: 180px;
            }
            &#bottom { bottom: 20px; }
        }
    }
    #organizedInt {
        background-color: var(--secondary-color);
        max-width: 100%;
        overflow-x: hidden;
        padding-bottom: 75px;
        #animatedOrg {
            position: relative;
            img {
                max-width: 1000px;
                min-width: 0px;
            }
            #rollingDahliaTextWrap{
                bottom: 0px;
                left: 840px;
                position: absolute;
                .textOrg {
                    color: var(--alternative-black);
                    font: var(--page-subHeaders-font);
                    max-width: 317px;
                    margin: 0px;
                    text-align: center;
                    z-index: 3;
                }
                #orgRollDahlia{
                    bottom: -150px;
                    left: -80px;
                    position: absolute;
                    transform: translateX(500px) translateY(300px) rotate(0deg);
                    transition: all 2s ease-in-out;
                    &.is-active {
                        transform: translateX(0px) translateY(0px) rotate(360deg);
                    }
                }
            }
        }
        #bookNowOrg {
            align-items: center;
            display: flex;
            flex-direction: column;
            margin-left: 15%;
            padding-top: 120px;
            padding-bottom: 70px;
            width: fit-content;
            p {font: var(--page-paragraphTitle-font);}
            a { width: 390px; }
        }
        .linearTextAnimat {
            overflow: hidden;
            white-space: nowrap;
            width: 100%;
            .linearTextAnimat__inner {
                animation: scroll 15s linear infinite;
                color: var(--alternative-black);
                display: inline-block;
                font: var(--page-secHeaders-font-vr);
                white-space: nowrap;
                span {
                    display: inline-block;
                    padding-right: 10px;
                }
            }
        }
        /* Animation */
        @keyframes scroll {
            0% { transform: translateX(0); }
            100% { transform: translateX(-40%); }
        }
    }
}