#AboutPage {
    padding: 0px !important;
    #introAbout {
        background: 
            linear-gradient(
                to bottom,
                var(--black-dahlia-white) 0%,
                var(--black-dahlia-white) calc(20% + 40px),
                var(--primary-color) calc(20% + 40px),
                var(--primary-color) 100%
            );
        justify-content: space-between;
        min-height: calc(100dvh - 65px);
        #leftIntro {
            #heyImTrish {
                align-items: end;
                column-gap: 60px;
                p {
                    color: var(--black-dahlia-white);
                    font: var(--page-paragraphTitle-font);
                    margin: 0px;
                }
                img#aboutLndArrow {
                    height: 38px;
                    margin-bottom: -20px;
                    width: 46px;
                }
            }
            #intro-text {
                background-color: var(--black-dahlia-white) ;
                color: var(--alternative-black);
                border-top-right-radius: 250px;
                border-bottom-right-radius: 250px;
                padding: 55px 65px 55px 45px;
                width: calc(100% - 45px);
            }
        }
        #rightIntro {
            flex: auto;
            #pic {
                background-color: transparent;
                border: 6px solid var(--secondary-color);
                border-top-left-radius: 160px;
                border-top-right-radius: 160px;
                width: fit-content;
                img {
                    border-top-left-radius: 160px;
                    border-top-right-radius: 160px;
                }
            }
            #spinningIntroAbt {
                background-color: var(--black-dahlia-white);
                justify-content: center;
                padding: 10px 40px;
                width: 380px;
                img {
                    animation: spinningR 12s linear infinite;
                    &#spinner-1{
                        animation-delay: 0s; 
                        animation-direction: reverse;
                        animation-duration: 20s;
                    }
                    &#spinner-2{
                        animation-delay: 1s;
                        animation-duration: 16s;
                    }
                    &#spinner-3{
                        animation-delay: 2s;
                        animation-direction: reverse;
                    }
                    &#spinner-4{
                        animation-delay: 3s;
                        animation-duration: 18s;
                    }
                }
                @keyframes spinningR {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(360deg); }
                }
                @keyframes spinningL {
                    0% { transform: rotate(0deg); }
                    100% { transform: rotate(-360deg); }
                }
            }
        }
    }
    #favorite_things {
        background-color: var(--alternative-black);
        justify-content: space-between;
        min-height: 100dvh;
        padding: 85px 0px;
        .page_sec-headers-vr { color: var(--black-dahlia-white);}
        #cardWrapper {
            max-width: 1500px;
            width: 100%;
            #c_wrap {
                flex: auto;
                gap: 30px;
            }
            .singleCard {
                align-items: center;
                background-color: var(--black-dahlia-white);
                border-radius: var(--border-radius-cards);
                box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.393),      /* soft outer shadow */
                            -10px 13px 0px rgba(255, 255, 255, 0.934); /* colored glow */
                display: flex;
                flex: 1;
                justify-content: center;
                min-width: 365px;
                max-width: 40%;
                padding: 20px;
                ul {
                    gap: 18px;
                    li {
                        align-items: center;
                        column-gap: 10px;
                        display: flex;
                        font: var(--page-paragraphText-font);
                        letter-spacing: 0.04em;
                        line-height: 40px;
                        list-style: none;
                    }
                }
            }
            .blink_vector {
                height: 60px;
                width: 80px;
                &.is-active {
                    * {
                        animation: blinking 5s infinite linear;
                        box-shadow: 10px 10px 10px 10px red;
                        fill: var(--primary-color);
                        stroke: rgb(255, 255, 255);
                        stroke-width: 2px;
                    }

                }
                @keyframes blinking {
                    0% { 
                        stroke: #ffffff;
                        stroke-width: 0px;
                    }
                    20% { 
                        filter: url(#yellowGlow);
                        height: 110%;
                        stroke: #ffff00b7;
                        stroke-width: 2px;
                    }
                    30% { 
                        filter: url(#whiteGlow);
                        stroke: #ffffff;
                        stroke-width: 2px;
                    }
                    100% { 
                        stroke: #ffff00b7;
                        stroke-width: 1px;
                    }
                }
            }
        }
    }
    #journey_sec {
        background-color: #ffffff;
        display: flex;
        flex-direction: column;
        padding: 100px;
        position: relative;
        #journeyTitle {
            font-style: normal;
            margin-top: 0px;
            margin-bottom: 75px;
        }
        &::before {
            background-image: url('../../../public/images/about-page/aboutPageBg_middle.webp');
            background-size: cover;
            background-repeat: no-repeat;
            content: '';
            inset: 0;
            opacity: 0.1;
            position: absolute;
            z-index: 0;
        }
        #journey_wrapper {
            #article_wrapper {
                .journey_articles {
                    .journey_titles {
                        background-color: var(--black-dahlia-white);
                        border-radius: 20px;
                        border: 1px solid var(--alternative-black);
                        font: var(--page-paragraphTitle-font);
                        padding: 8px 56px;
                        width: fit-content;
                    }
                    .journey_texts { padding-left: 50px; }
                }
            }
            #timeline_wrapper{
                display: flex;
                flex-direction: column;
                flex: auto;
                position: relative;
                .moon_phase {
                    align-items: top;
                    display: flex;
                    height: 25%;
                    justify-content: center;
                    position: sticky;
                    top: 0px;
                    img {
                        height: 50px;
                        transform: translateY(100px);
                    }
                }
            }
        }
        #journeyBottomSec {
            p {
                background-color: #D9D9D9;
                font: var(--page-secHeaders-font-vr);
                font-size: 34px;
                font-style: normal;
                margin-bottom: 0px;
                padding: 25px;
                width: fit-content;
            }
            .primaryBtn {
                align-self: end;
                margin-right: 10%;
                width: 320px;
                z-index: 2;
            }
        }
    }
    #whatWaitFor {
        align-items: center;
        background-color: var(--alternative-black);
        color: var(--black-dahlia-white);
        display: flex;
        flex-direction: column;
        #initialIntro {
            margin: 160px 0px;
            row-gap: 50px;
            h4 {
                font: var(--page-paragraphTitle-font);
                margin: 0px;
            }
        }
        #textBottom {
            background-color: #D9D9D9;
            border-radius: var(--border-radius-cards);
            color: var(--alternative-black);
            font: var(--page-secHeaders-font-vr);
            font-style: normal;
            margin: 120px 0px;
            padding: 30px 80px;
        }
        #spiningDahliaAboutPg {
            animation: spin360 15s linear infinite;
            margin-bottom: 90px;
        }
        @keyframes spin360 {
            0% { transform: rotate(0deg); }
            40% { transform: rotate(180deg); }
            100% {transform:  rotate(360deg);}
        }
    }
}