#AboutPage {
    padding: 0px !important;
    #introAbout {
        min-height: calc(100dvh - 65px);
        background: 
            linear-gradient(
                to bottom,
                var(--black-dahlia-white) 0%,
                var(--black-dahlia-white) calc(20% + 40px),
                var(--primary-color) calc(20% + 40px),
                var(--primary-color) 100%
            );
        justify-content: space-between;
        #leftIntro {
            h1 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 48pt;
                font-style: italic;
                font-weight: 400;
                margin: 0px;
                text-align: center;
            }
            #heyImTrish {
                align-items: end;
                column-gap: 60px;
                p {
                    color: var(--black-dahlia-white);
                    font-size: 24pt;
                    margin: 0px;
                    letter-spacing: 0.2em;
                    line-height: 35px;
                }
                img#aboutLndArrow {
                    height: 38px;
                    margin-bottom: -20px;
                    width: 46px;
                }
            }
            #intro-text {
                background-color: var(--black-dahlia-white) ;
                color: var(--alternative-black);
                padding: 55px 65px 55px 45px;
                border-top-right-radius: 250px;
                border-bottom-right-radius: 250px;
                letter-spacing: 0.1em;
                line-height: 30pt;
                font-size: 18pt;
                font-weight: 300;
                width: calc(100% - 45px);
            }
        }
        #rightIntro {
            flex: auto;
            #pic {
                background-color: transparent;
                border: 6px solid var(--secondary-color);
                width: fit-content;
                border-top-left-radius: 160px;
                border-top-right-radius: 160px;
                img {
                    border-top-left-radius: 160px;
                    border-top-right-radius: 160px;
                }
            }
            #spinningIntroAbt {
                background-color: var(--black-dahlia-white);
                justify-content: center;
                padding: 10px 40px;
                width: 380px;
                img {
                    animation: spinningR 12s linear infinite;
                    &#spinner-1{
                        animation-direction: reverse;
                        animation-delay: 0s; 
                        animation-duration: 20s;
                    }
                    &#spinner-2{
                        animation-delay: 1s;
                        animation-duration: 16s;
                    }
                    &#spinner-3{
                        animation-direction: reverse;
                        animation-delay: 2s;
                    }
                    &#spinner-4{
                        animation-delay: 3s;
                        animation-duration: 18s;
                    }
                }
                @keyframes spinningR {
                    0% { transform: rotate(0deg); }
                    // 30% { transform: rotate(250deg); }
                    100% { transform: rotate(360deg); }
                }
                @keyframes spinningL {
                    0% { transform: rotate(0deg); }
                    // 30% { transform: rotate(250deg); }
                    100% { transform: rotate(-360deg); }
                }
            }
        }
    }
    #favorite_things {
        background-color: var(--alternative-black);
        min-height: 100dvh;
        padding: 85px 0px;
        justify-content: space-between;
        h1 {
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 35pt;
            font-style: italic;
            font-weight: 400;
            letter-spacing: 0.1em;
            margin: 0px;
            text-align: center;
            color: var(--black-dahlia-white);
        }
        #cardWrapper {
            column-gap: 30px;
        
            .singleCard {
                align-items: center;
                background-color: var(--black-dahlia-white);
                border-radius: 80px;
                box-shadow: -8px 10px 10px rgba(0, 0, 0, 0.393),      /* soft outer shadow */
                            -10px 13px 0px rgba(255, 255, 255, 0.934); /* colored glow */
                display: flex;
                justify-content: center;
                min-width: 376px;
                padding: 40px;
                ul {
                    gap: 18px;
                    li{
                        list-style: none;
                        display: flex;
                        align-items: center;
                        column-gap: 10px;
                        font-size: 12pt;
                        line-height: 40px;
                        letter-spacing: 0.04em;
                    }
                }
            }
            .blink_vector {
                height: 60px;
                width: 80px;
                &.is-active {
                    * {
                        // stroke: var(--primary-color);
                        stroke: rgb(255, 255, 255);
                        stroke-width: 2px;
                        fill: var(--primary-color);
                        // box-shadow: 16px 16px 16px yellow;
                        animation: blinking 5s infinite linear;
                        // animation-name: bounce;
                        box-shadow: 10px 10px 10px 10px red;
                    }

                }
                @keyframes blinking {
                    0% { 
                        stroke: #ffffff;
                        stroke-width: 0px;
                        // filter: url(#whiteGlow);
                    }
                    20% { 
                        stroke: #ffff00b7;
                        stroke-width: 2px;
                        filter: url(#yellowGlow);
                        height: 110%;
                    }
                    30% { 
                        stroke: #ffffff;
                        stroke-width: 2px;
                        filter: url(#whiteGlow);
                    }
                    100% { 
                        stroke: #ffff00b7;
                        stroke-width: 1px;
                    }
                }
            }
        }
    }
    #journey_sec {
        display: flex;
        flex-direction: column;
        padding: 100px;
        position: relative;
        #journeyTitle {
            margin-top: 0px;
            margin-bottom: 75px;
            font-family: Georgia, 'Times New Roman', Times, serif;
            font-size: 30pt;
            font-weight: 400;
            letter-spacing: 0.1em;
            text-align: center;
        }
        &::before {
            background-image: url('../../../public/images/about-page/aboutPageBg_middle.png');
            background-size: cover;
            background-repeat: no-repeat;
            content: '';
            inset: 0;
            opacity: 0.1;
            position: absolute;
            z-index: 0;
        }
        #journey_wrapper {
            min-height: 100%;
            #article_wrapper {
                // padding-left: 90px;
                .journey_articles {
                    .journey_titles {
                        padding:  8px 56px;
                        border-radius: 20px;
                        border: 1px solid var(--alternative-black);
                        background-color: var(--black-dahlia-white);
                        font-size: 24pt;
                        font-family: Georgia, 'Times New Roman', Times, serif;
                        font-weight: 300;
                        line-height: 40px;
                        letter-spacing: 0.04em;
                        width: fit-content;
                    }
                    .journey_texts {
                        font-family: 'Nunito';
                        font-size: 15pt;
                        font-weight: 300;
                        line-height: 48px;
                        letter-spacing: 0.1em;
                        padding-left: 50px;
                    }
                }
            }
            #timeline_wrapper{
                display: flex;
                flex-direction: column;
                flex: auto;
                height: 100%;
                position: relative;
                .moon_phase {
                    align-items: top;
                    display: flex;
                    height: 25%;
                    justify-content: center;
                    position: sticky;
                    top: 0px;
                    img {
                        height: 50px;
                        transform: translateY(100px);
                    }
                }
            }
        }
        #journeyBottomSec {
            p {
                background-color: #D9D9D9;
                font-size: 24pt;
                letter-spacing: 0.1em;
                margin-bottom: 0px;
                padding: 25px;
                width: fit-content;
            }
            .primaryBtn {
                align-self: end;
                width: 320px;
                z-index: 2;
            }
        }
    }
    #whatWaitFor {
        background-color: var(--alternative-black);
        color: var(--black-dahlia-white);
        display: flex;
        flex-direction: column;
        align-items: center;
        #initialIntro {
            margin: 160px 0px;
            row-gap: 50px;
            h4 {
                font-family: Georgia, 'Times New Roman', Times, serif;
                font-size: 25pt;
                font-weight: 300;
                letter-spacing: 0.04em;
                margin: 0px;
            }
        }
        #textBottom {
            background-color: #D9D9D9;
            border-radius: 30px;
            color: var(--alternative-black);
            font-size: 25pt;
            font-weight: 300;
            letter-spacing: 0.15em;
            margin: 120px 0px;
            padding: 30px 80px;
        }
        #spiningDahliaAboutPg {
            animation: spin360 15s linear infinite;
            margin-bottom: 90px;
        }
        @keyframes spin360 {
            0% { transform: rotate(0deg); }
            40% { transform: rotate(180deg); }
            100% {transform:  rotate(360deg);}
        }
    }
}