.mandalaIntro {
    aspect-ratio: 1/1;
    width: 120px;
    height: 120px;
    &.is-active {
        .mandala_svg {
            * { animation: strokePulse2 10s ease-in-out infinite;}
        }
    }
}
@keyframes strokePulse2 {
    0%, 100% {fill: #6a6a6b2b;}
    35% { fill: #c1c2c03d; }
    42% { fill: #ffa51d32; }
    50% { fill: #47192755; }
    75% { fill: #e91e6232; }
}