#ServicesPage {
    background-color: var(--alternative-black);
    .page_sub-headers {
        color:  #AF9E90;
        width: 100%;
        text-align: center;
    }
    #servicesWrapper {
        gap: 30px;
        justify-content: center;
        padding-bottom: 30px;
        .servicesCard {
            background-color: #A2A1A1;
            border-radius: var(--border-radius-cards);
            display: flex;
            box-shadow: 10px 10px 15px #fffffe32;
            flex-direction: column;
            justify-content: space-between;
            min-width: 400px;
            padding: 40px 30px;
            flex: auto;
            width: 31%;
            .page_paragraphTitle {
                margin-bottom: 25px;
                margin-top: 0px;
                text-align: center;
                text-transform: uppercase;
                width: 100%;
            }
            .page_paragraphText, p {
                margin-bottom: 0px;
                margin-top: 0px;
                ul{
                    padding-left: 25px;
                }
            }
        }
    }
}