
.navBar {
    align-items: center;
    background-color: var(--navbar-background);
    display: flex ; 
    justify-content: center;
    min-height: var(--navbar-height);
    &.homeBar  {
        flex-direction: column;
        #upper_home_bar {
            align-items: center;
            background-color: var(--navbar-home-bg);
            display: flex;
            justify-content: space-between;
            max-height: 110px;
            padding: 10px 10%;
            position: relative;
            width: 100%;
            #homepage_logo {
                max-height: 100px;
            }
            #dahlia_logo_wrapper {
                align-items: center;
                background-color: var(--navbar-home-bg);
                border-radius: 50%;
                display: flex;
                justify-content: center;
                height: fit-content;
                left: calc(50% - 115px);
                padding: 20px;
                position: absolute;
                top: 0;
                #homepage_dahlia_logo {
                    aspect-ratio: 1/1;
                    max-height: 210px;
                }
            }
        }
        #homePageLinks {
            align-self: flex-end;
            display: flex;
            flex-wrap: wrap;
            column-gap: 1em;
            justify-content: space-evenly;
            padding-top: 30px;
            position: absolute;
            top: 110px;
            width: calc(50vw - 115px);
            z-index: 2;
            .navLinks { 
                font-size: var(--navbar-fontsize);
                color: var(--white-text);
            }
        }
    }
    &.notHome {
        background-color: var(--navbar-bg);
        padding: 15px 60px;
        justify-content: space-between;
        #homePageLinks { 
            column-gap: 30px;
        }
        .navLinks {
            font-size: var(--navbar-fontsize);
            color: var(--white-text);
        }
    }
    .navLinks {
        text-decoration: none;
        font-size: var(--navbar-fontsize);
        color: var(--white-text);
        text-transform: uppercase;
        p {margin: 0px;}
    }
  }