#ExploreTiersPage {
    background-color: var(--alternative-black);
    color: var(--black-dahlia-white);
    align-items: center;
    padding: 90px 50px;
    .page_sub-headers {
        font-style: normal;
        width: 100%;
        text-align: center;
        color: var(--black-dahlia-white);
    }
    .page_paragraphTitle-vr {
        background-color: #A2A1A116;
        padding: 20px;
        border-left: 1px solid #fff;
    }
    #cardsTierWrapper {
        display: flex;
        justify-content: center;
        gap: 30px;
        padding-bottom: 80px;
        padding-top: 80px;
        width: 100%;
        .singleTier {
            border: 1px solid #FFFFFE;
            border-radius: var(--border-radius-cards);
            box-shadow: 10px 10px 15px #FFFFFE22;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            padding: 50px 25px 20px;
            width: 32%;
            .tierWrapper {
                height: 40px;
                .page_paragraphText.tier { color: #C7A770; }
                .mostChosen {
                    background-color: #C7A770;
                    border-radius: var(--border-radius-cards);
                    color: var(--alternative-black);
                    padding: 1px 0px !important;
                    text-align: center;
                    width: 170px;
                    margin: 0px;
                }
            }
            .tierDescription {
                .page_paragraphTitle {
                    height: 72px;
                    width: 100%;
                    text-align: center;
                    span {
                        display: flex;
                        text-align: end;
                        justify-content: end;
                    }
                }
                .page_paragraphText {
                    color: #B7B4AD;
                    ul { padding-left: 30px; }
                }
            }
            .primaryBtn-vr1 { font-weight: 600; }
        }
    }
}