#smallScreenWrapper {
    &.lightBg {
        .bar {  background-color: var(--alternative-black) !important; }
    }
    .openHam{
        .bar { background-color: var(--black-dahlia-white) !important; }
    }
    .hambContainer {
        border-radius: 0px;
        display: flex;
        justify-content: end;
        padding: 10px;
        position: absolute;
        right: 0px;
        top: 0px;
        z-index: 3;
        &.open {
            justify-content: center;
            max-width: 30px;
            padding: 0px;
            top: 20px;
        }
        .hamburger-menu {
            cursor: pointer;
            display: flex;
            gap: 5px;
            justify-content: space-around;
            padding: 10px;
            
            .bar {
                background-color: var(--black-dahlia-white) !important;
                border-radius: 50%;
                height: 4px;
                width: 4px;
                transition: all 0.4s ease;
            }
            &.openHam{
                max-width: 65px;
                width: fit-content;
                .bar {
                    height: 2px;
                    width: 20px;
                    &#bar1 { transform: rotate(45deg); }
                    &#bar2 { display: none;}
                    &#bar3 { transform: rotate(-45deg) translate(-18px, -18px); }
                }
            }
        }
    }
    
    #smallScreenMenu {
        align-items: center;
        background-color: var(--alternative-black);
        box-sizing: border-box;
        color: var(--black-dahlia-white);
        display: flex;
        justify-content: center;
        right: 0;
        position: fixed;
        top: 0;
        width: 0%;
        z-index: 1;
        .navBarSm {
            align-items: center;
            display: flex;
            flex-direction: column;
            .imgNavMenu { height: 25px;  }
            .navLinksSmScreen {
                font-family: var(--navbar-fontFamily);
                font-size: var(--navbar-fontsize);
                font-weight: var(--navbar-fontWeight);
                text-decoration: none;
                width: 100%;
                p {
                    color: var(--black-dahlia-white);
                    font-size: 18px;
                    font-weight: 300;
                    margin: 10px 0px;
                    text-align: center;
                    width: 100%;
                }
            }
        }
        .aboutDahlia {
            animation: spin360 30s linear infinite;
            * { animation: strokePulse2 10s ease-in-out infinite;}
            height: 45px !important;
            width: 45px !important;
        }
    }
}
