#PortfolioPage {
    align-items: center;
    background-color: var(--alternative-black);
    display: flex;
    flex-direction: column;
    padding: 0px;
    #introPortfolio {
        height: calc(100dvh - 136px);
        .page_sub-headers {
            font-weight: 700;
            background: linear-gradient(
                270deg,
                #c1c2c0 0%,
                #e91e62e4 25%,
                #c1c2c0 60%,
                #ffa115c9 85%,
                #c1c2c0 100%
            );
            background-size: 300% 300%;
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            will-change: background-position;
            transform: translateZ(0);
            animation: gradientShift 15s linear infinite alternate;
        }        
    }
    .page_sub-headers {
        color: var(--black-dahlia-white);
        text-align: center;
        width: 100%;
    }
    .page_sec-headers {
        background-color: var(--black-dahlia-white);
        font-style: normal;
        margin-bottom: 56px;
        margin-top: 0px;
        padding: 18px 56px;
        width: fit-content;
    }
    .page_paragraphText {
        color: var(--black-dahlia-white);
        font-size: clamp(16px, 3vw - 1rem, 40px);
        font-weight: 100;
        margin-bottom: 90px;
    }
    .flipping-card_wrapper {
        background-color: var(--black-dahlia-white);
        display: flex;
        flex-wrap: wrap;
        justify-content: center !important;
        gap: 24px;
        min-width: 100%;
        padding: 50px;
        .pricing-card-wrapper {
            display: flex;
            aspect-ratio: 1/1;
            height: auto;
            max-height: 550px;
            
            max-width: 650px;
            width: calc(50% - 12px);
            .flipcard__face {
                border-radius: 0px;
                img {
                    display: flex;
                    flex: 1;
                    height: 100%;
                    object-fit: cover;
                    width: 100%;
                }
                .flipcard__content  {
                    height: 100%;
                    &.flipcard__content--back { margin-top: 0px; }
                }
                .flipcard__trigger {
                    bottom: -20px;
                    position: absolute;
                    right: 0px;
                    width: 100%;
                    p {
                        color: var(--alternative-black);
                        font-family: "Bellota";
                        font-size: 40px;
                        // margin-right: 60px;
                        // mix-blend-mode: difference;
                        opacity: .5;
                        right: calc(50% - 160px);
                        &:hover { opacity: 1; }
                        &.light {
                            color: var(--black-dahlia-white);
                        }
                    }
                    &.flipcard__trigger--back {
                        align-items: end;
                        bottom: 40px !important;
                        display: flex;
                        height: calc(100% - 40px);
                        right: 60px;
                        top: 0px;
                        width: 150px;
                        // mix-blend-mode: difference;
                        svg path {
                            fill: #000000 !important;
                            stroke: #E1D8CE;
                            stroke-width: 1px;
                        }
                        &:hover {
                            svg path{
                                fill: #E1D8CE !important;
                                fill-opacity: 1 !important;
                            }
                        }
                    }
                }
            }
            &#rr_mag_card1 {
                .flipcard__face--front{
                    background-color: #B7A08D;
                    img { object-fit: contain; }
                }
            }
            &#planner_card1 {
                .flipcard__face--back{
                    background-color: #CDD3D7;
                    img { object-fit: contain; }
                }
            }
            &#planner_card2 {
                .flipcard__face--back{
                    background-color: #835C32;
                    img { object-fit: contain; }
                }
            }
            &#planner_card3 {
                .flipcard__face--front{
                    background-color: #CDD3D7;
                    img { object-fit: contain; }
                }
            }
        }
    }
    #bottom_portfolio {
        .page_paragraphTitle {
            color: var(--black-dahlia-white);
            font-family: Nunito;
            font-weight: 400;
            margin: 0px;
            text-align: center;
        }
        #scheduleText {color: var(--black-dahlia-white);}
        .primaryBtn-vr1 { width: 570px; }
    }
}
@media screen and (max-width: 900px ) {
    #PortfolioPage {
        padding: 40px 0px !important;
        #introPortfolio { 
            height: calc(100dvh - 40px);
            .page_sub-headers {font-size: 30px !important;}
        }
        .page_sub-headers {
            color: var(--black-dahlia-white);
            text-align: center;
            width: 100%;
        }
        .page_sec-headers {
            font-size: 19px !important;
            letter-spacing: 0em !important;
            margin-bottom: 50px;
            padding: 15px 10px;
            width: 100%;
        }
        .page_paragraphText {
            color: var(--black-dahlia-white);
            font-size: clamp(16px, 3vw - 1rem, 40px);
            font-weight: 100;
            margin-bottom: 50px;
            padding: 0px 20px;
        }
        .flipping-card_wrapper {
            background-color: var(--black-dahlia-white);
            display: flex;
            flex-wrap: wrap;
            gap: 24px;
            min-width: 100%;
            padding: 50px 20px;
            .pricing-card-wrapper {
                display: flex;
                height: calc(100vw - 40px) ;
                min-width: calc(100vw - 40px);
                max-width: calc(100vw - 40px);
                width: calc(100vw - 40px);
                .flipcard__face {
                    .flipcard__trigger {
                        p {
                            font-size: 24px;
                            margin-right: 20px;
                            opacity: .5;
                        }
                    }
                }
            }
        }
        #bottom_portfolio {
            padding: 20px;
            .page_paragraphTitle {
                color: var(--black-dahlia-white);
                font-family: Nunito;
                font-weight: 400;
                margin: 0px;
                text-align: center;
            }
            #scheduleText {
                color: var(--black-dahlia-white);}
            .primaryBtn-vr1 { width: 90vw; }
        }
    }
}