#MembershipPage {
    background-color: var(--alternative-black);
    .page_sub-headers-vr {
        color: var(--black-dahlia-white);
        font-style: normal;
        margin: auto;
    }
    #spiningDahliaMemberPg {
        display: flex;
        flex: auto;
        animation: spin360 15s linear infinite;
    }
}