#MembershipPage {
    background-color: var(--alternative-black);
    #MembershipPageWrapper {
        height: calc(100dvh - 136px - 60px);
    }
    .page_sub-headers-vr {
        color: var(--black-dahlia-white);
        font-style: normal;
        margin: auto;
    }
    .aboutDahlia {
        animation: spin360 30s linear infinite;
        height: 390px;
        width: 390px;
        * { animation: strokePulse2 10s ease-in-out infinite;}
    }
}
@media screen and (max-width: 900px) {
    #MembershipPageWrapper {
        height: 100dvh !important;
        .page_sub-headers-vr {font-size: 40px;}
    }
    .aboutDahlia {
        animation: spin360 30s linear infinite;
        * { animation: strokePulse2 10s ease-in-out infinite;}
        height: 275px !important;
        width: 275px !important;
    }
}