* {
  box-sizing: border-box;
}
html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.App {
  display: flex;
  flex-direction: column;
  flex: 1;
}

body {
  background-color: --page-primary-backgroung;
}

@media screen and (max-width: 900px) {
  
  #coming_soon { font-size: 30px !important;}
  #under_construction { font-size: 25px !important;}
}