@import "./settings/settings.scss";

* { box-sizing: border-box; }
html, body, #root {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display: flex;
  flex-direction: column;
  font-family: var(--primary-font);
  height: 100%;
  margin: 0;
  padding: 0;
  width:100%;
}
body {  
  background-color: #272626; /* your stage color */
}
#root { position: relative; }
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
